@media(max-width: 1800px){
    .project-slider .slick-list {
        padding-left: 255px;
    }
    .project-container { 
        padding-left: 375px;
    }
}
@media (max-width: 1700px) {
    .project-slider .slick-list {
        padding-left: 150px;
    }
    .project-container {
        padding-left: 270px;
    } 
}
@media (max-width: 1620px) {
    .margin-lg{
        margin: 40px 0;
    }
    .margin-b-lg{
        margin-bottom: 40px;
    }
    .margin-t-lg{
        margin-top: 40px;
    }
    .padding-t-lg{
        padding-top: 40px;
    }
    .padding-b-lg{
        padding-bottom: 40px;
    }
    .padding-lg{
        padding: 40px 0;
    }
    .container{
        max-width: 1390px;
    }
    .container-big {
        max-width: 1480px;
    }
    .project-container {
        padding-left: 60px;
    } 
    .project-slider .slick-list {
        padding-left: 0;
    }
    .project-slider-item{
        width: initial!important;
    }
    .project-info {
        width: 50%; 
        padding-left: 60px;  
    }
    .project-img {
        width: 50%; 
    }
    .project-img a{
        width: 100%;
    }
    .project-info .text{
        padding-right: 50px;
    }
    .text-side{
        padding-left: 60px;
    }
    .footer{
        padding-top: 100px;
    }
    .project-arrows{
        right: 41%;
    }
    .banner-title{
        font-size: 170px;
    }
    /* about page */
    .o-service-arrow .arroo { 
        width: 90px;
        height: 60px; 
    }
    .o-services-slider .slick-slide {
        margin: 0 30px;
    } 
    .o-services-slider .slick-list {
        margin: 0 -43px;
    }
    .left-company-side { 
        padding-right: 60px;
    }
    /* about page */
    /* News Detail */
    .news-detail{
        padding-top: 20px;
    }
    /* News Detail */
    /* Services Page */
    .services-page-box-01 { 
        gap: 50px 50px;
    }
    .service-list-item {
        width: calc((100% / 4) - 38px);
    }
    .service-list-item::after{
        right: -27px;
    }
    /* Services Page */ 
    /* Submenu Page */
    .submenu-item {
        width: calc((100% / 4) - 38px);
    }
    .submenu-item::after{
        right: -27px;
    }
    .submenu-box { 
        gap: 50px 50px;
    }
    /* Submenu Page */
    /* Contact Page */
    .map-section {
        width: 100%;
        height: 782px;
    }
    /* Contact Page */  
    /* Project Page */
    .project-list-item-01 {
        width: calc((100% / 2) - 80px);
    }
    .top-image { 
        height: 530px;
    }
    .service-page-title .text-1{
        margin-top: 20px;
    }
    /* Project Page */

}

@media (max-width: 1430px) {
    .margin-lg{
        margin: 30px 0;
    }
    .margin-b-lg{
        margin-bottom: 30px;
    }
    .margin-t-lg{
        margin-top: 30px;
    }
    .padding-t-lg{
        padding-top: 30px;
    }
    .padding-b-lg{
        padding-bottom: 30px;
    }
    .padding-lg{
        padding: 30px 0;
    }
    .container{
        max-width: 1160px;
    }
    .container-big {
        max-width: 1280px;
    }
    .project-container {
        padding-left: 50px;
    }  
    .project-info .text{
        padding-right: 50px;
    }
    .text-side{
        padding-left: 50px;
    }
    .footer{
        padding-top: 80px;
    }
    .copyright-footer {
        margin-top: 90px; 
    }
    .footer-transparent { 
        width: 500px; 
    }
    .banner-title{
        font-size: 150px;
    }
    .nav-ul{
        gap: 15px;
    }
    .search-lang{
        margin-left: 25px;
    }
    .search form{
        width: 180px;
    }
    .search form input{
        width: 145px;
        padding-right: 0;
    }
    .home-banner { 
        height: 770px; 
    }
    .home-banner-item{
        height: 770px;
    }
    .section-title, .service-page-title h1 {
        font-size: 68px;
    }
    .about-left-text .text {
        font-size: 32px;
    }
    .our-services-section { 
        height: 730px; 
    }
    .slider-arrows{
        display: none;
    }
    .our-services-absolute-box{
        top: 60px;
    }
    .text-side {
        font-size: 24px; 
        line-height: 36px;
        max-width: 850px; 
    }
    .project-arrows{
        bottom: 20px;
    }
    .news-item { 
        height: 730px;
    }
    .news-title h1{
        font-size: 68px;
    }
    .news-img { 
        height: 260px;
        margin-bottom: 20px;
    }
    .count-number {
        font-size: 26px;  
        margin-bottom: 25px;
    }
    .news-text-box {
        padding: 10px;
        padding-top: 10px;
    }
    .news-text-box .title {
        font-size: 16px; 
    }
    .news-text-box .text{
        margin-top: 20px;
    }
    .news-text-box .news-time {
        margin-top: 25px; 
    }
    /* about page */
    .about-slider-item a { 
        width: 500px;
        height: 450px;
        margin-right: 24px;
    }
    .absolute-img-about { 
        width: 450px;
        height: 384px; 
    }
    /* about page */
    /* News Detail */
    .news-detail{
        padding-top: 20px;
    }
    .fancy-imgs a { 
        height: 220px;
    }
    .fancy-imgs a:first-child { 
        height: 440px;
    }
    .n-detail-box { 
        gap: 40px;
    }
    .n-right-text .title h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .n-right-text .time { 
        margin-top: 20px;
    }
    /* News Detail */
    /* Services Page */
    .service-page-title{
        margin-bottom: 60px;
    }
    .service-list-item {
        width: calc((100% / 3) - 34px);
    }
    .service-list-item:last-child:after, .service-list-item:nth-child(3n):after {
        width: 0;
    }
    .service-list-item:nth-child(4n):after{
        width: 2px;
    } 
    /* Services Page */
    /* Submenu Page */
    .submenu-item {
        width: calc((100% / 3) - 34px);
    }
    .submenu-item:last-child:after, .submenu-item:nth-child(3n):after {
        width: 0;
    }
    .submenu-item:nth-child(4n):after{
        width: 2px;
    }
/* Submenu Page */
/* Project Page */
.project-title-01 {
    font-size: 20px;
    padding: 0 30px;
}
.project-ul-01{
    padding: 0 30px;
    gap: 12px;
}
.project-text-01{
    padding: 0 30px;
}
/* Project Page */    
 /*Project Detail  */
 .project-detail-title {
    font-size: 26px; 
    line-height: 38px;
    width: 1000px;
    margin-bottom: 70px; 
}
.relative-section{
    padding-bottom: 60px;
}
.similar-projects-box .project-list-item-01:nth-child(2n - 1){
    margin-top: -30px;
}
.similar-projects-box .project-list-item-01 {
    width: calc((100% / 2) - 35px);
}
.similar-projects {
    padding: 50px 0;
}
 /*Project Detail  */

}

@media (max-width: 1200px) { 
    .container-big {
        max-width: 1000px;
    } 
    .container {
        max-width: 950px;
    }
    .header-box .logo{
        height:70px;
    }
    .logo a {
        display: block;
        width: 110px;
        height: 70px;
    }
    .nav-ul {
        gap: 1px;
    }
    .nav-a {
        font-size: 14px;
    }
    .submenu-a { 
        font-size: 14px;
    }
    .search-lang {
        margin-left: 0px;
    }
    .banner-title {
        font-size: 120px;
    }
    .home-banner-item {
        height: 650px;
    }
    .home-banner {
        height: 650px;
    }
    .home-post-item { 
        padding: 32px;
    }
    .home-post-item .title {
        font-size: 32px;
    }
    .home-post-item .time {
        font-size: 20px;
    }
    .section-titl, .service-page-title h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .about-left-text .text {
        font-size: 30px;
    }
    .text-side {
        font-size: 22px;
        line-height: 30px;
        max-width: 770px;
    }
    .project-info{
        height: 600px;
        padding-bottom: 40px;
    }
    .project-img{
        height: 600px;
    }
    .project-info .time {
        margin-top: 30px;
    }
    .project-info ul {
        margin-top: 20px; 
        padding-right: 30px;
    }
    .project-info .text {
        margin-top: 25px; 
        font-size: 14px;
        line-height: 22px; 
        padding-right: 30px;
    }
    .project-bottom-img-info {
        margin-top: 80px;
    }
    .continue-btn {
        margin-top: 40px;
    }
    .project-arrows .gen-arr {
        width: 100px;
        height: 60px;
    }
    .news-title h1 {
        font-size: 60px;
    }
    .news-item {
        width: calc((100% / 4) - 9px);
        height: 670px;
    }
    .news-box { 
        gap: 0 12px;
    }
    .news-img {
        height: 220px;
        margin-bottom: 10px;
    }
    .news-text-box .title {
        font-size: 14px;
    }
    .news-text-box .text{
        font-size: 14px;
    }
    .footer-img {
        margin-bottom: 40px; 
        margin-left: 60px;
    }
    /* About Page */
    .company-box { 
        flex-direction: column;
        gap: 80px;
    }
    .left-company-side{
        width: 100%;
        padding-right: 0;
    }
    .right-company-side{
        width: 100%;
        justify-content: center;
    }
    /* About Page */
    /* News Page */
    .news-page-item{
        margin-top: 50px!important;
    }
    .news-page-item{
        width: calc((100% / 3) - 8px);
        height: 670px;
    }
    /* News Page */
 /* News Detail */ 
    .n-detail-box { 
        flex-direction: column-reverse;
    }
   .n-left-side{
    width: 100%;
   }
   .n-right-text{
    width: 100%;
   }
    /* News Detail */
    /* Search */
    .search-result-box{
        margin-top: 80px;
    }
    /* Search */
    /* Contact Page */
    .contact-box{
        flex-direction: column-reverse;
        gap: 60px;
    }
    .left-contact-form{
        margin: 0;
        width: 100%;
    }
    .right-contact-info{
        width: 100%;
    }
    /* Contact Page */
    /* Project Page */  
    .project-list-box::after{
        display: none;
    }
    .project-list-item-01 {
        width: calc((100% / 2) - 20px);
    }
    .project-list-box{
        gap: 40px;
    }
     .status-project .time{
        padding-left: 10px;
    }
    .top-image {
        height: 440px;
    }
    .project-filter-box { 
        margin-bottom: 120px;
    }
    .project-list-item-01:nth-child(2n - 1) {
        margin-top: -40px;
    }
    /* Project Page */
 /*Project Detail  */
 .project-detail-title { 
    width: 90%;
    margin-bottom: 60px; 
    padding-left: 0;
}
.project-detail-text-001{
    padding-left: 0;
}
.relative-section{
    padding-bottom: 50px;
}
.similar-projects-box .project-list-item-01:nth-child(2n - 1){
    margin-top: 0;
}
.similar-projects-box .project-list-item-01 {
    width: calc((100% / 2) - 35px);
}
.similar-projects {
    padding: 40px 0;
}
.project-detail-absolute-ilustrator, .similar-projects::after{
    display: none;
}
 /*Project Detail  */

}
@media (max-width: 991px){
    .container-big {
        max-width: 98%;
    } 
    .container {
        max-width: 93%;
    }
    .margin-lg{
        margin: 25px 0;
    }
    .margin-b-lg{
        margin-bottom: 25px;
    }
    .margin-t-lg{
        margin-top: 25px;
    }
    .padding-t-lg{
        padding-top: 25px;
    }
    .padding-b-lg{
        padding-bottom: 25px;
    }
    .padding-lg{
        padding: 25px 0;
    }
    .nav-box{
        display: none;
    }
    .search-lang{
        display: none;
    }
    /* Burger Menu */
    .burger-lines{
        display: flex;
    }
    .burger-menu{ 
        flex-direction: column;  
        position: fixed;
        top: 0;
        right: 0;
        width: 90%;
        height: 100%;
        background-color: #2A4770;
        z-index: 999;
        padding: 20px 8%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .burger-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .burger-header::after{
        position: absolute;
        content: "";
        width: 200%;
        left: -50%;
        bottom: -15px;
        height: 1px;
        background: rgba(217, 217, 217, 0.2); 
    }
    .br-menu{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: 'BPG Arial';
        text-transform: capitalize;
        text-decoration: none;
    }
    .burger-search{
        width: 70%; 
        display: flex;
        margin-top: 50px;
    }
    .burger-search form{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .burger-search form input{
        width: 75%;
        height: 28px;
        appearance: none;
        background: none;
        border: none;
        padding-left: 6px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-family: 'BPG Arial'; 
        border-radius: 4px;
        outline: none;
        background: rgba(217, 217, 217, 0.5);
    }
    .burger-search form input::placeholder{
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        font-family: 'BPG Arial'; 
    }
    .burger-search form button{
        width: fit-content;
        padding: 0 5px;
        height: 28px;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-family: 'BPG Arial';
        background: rgba(217, 217, 217, 0.5);
    }
    .burger-lang{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    .burger-lang a, span{
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        font-family: 'BPG Arial';
        text-decoration: none;
    }
    .burger-lang a.active{ 
        font-weight: 700; 
    }
    .burger-list .nav-ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .burger-list .nav-ul li a{
        padding: 10px 0;
        width: fit-content;
    } 
    .burger-list .nav-ul li:hover a{
        color: #fff;
    }
    .burger-list .nav-ul li .submenu a{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        font-family: 'BPG Arial';
    }
    .submenuArrow{
        position: relative;
        width: 100%;
        align-items: flex-start;
    }
    .arrow-burger-list{
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        top: 18px;
        right: 5%; 
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        width: 12px;
        height: 8px;
        padding: 3px;
    }
    .activeToggle .arrow-burger-list{
        transform: rotate(180deg);
    }
    .activeToggle .submenu{
        display: flex;
        position: initial;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        margin: 0;
        margin-top: 7px;  
        padding-left: 5px;
    }
    .activeToggle .submenu .submenu-ul{
        width: fit-content;
        background: none;
        box-shadow: none;
    }
    .activeToggle .submenu .submenu-ul li{
         padding: 0;
         border: none;
         height: initial;
    }
    .activeToggle .submenu .submenu-ul li a{
        padding: 5px 0;
    }
    .activeToggle .submenu .submenu-ul:before{
        display: none;
    }
    /* Burger Menu */

    .home-banner-item {
        height: 500px;
    }
    .home-banner,.section-banner-0 {
        height: 500px;
    }
    .home-post-item { 
        display: none;
    }
    .banner-title{
        bottom: -1px;
    }
    .about-component-box { 
        flex-direction: column;
        gap: 30px;
    }
    .about-left-text {
        width: 100%;
        padding: 0;
    }
    .about-right-text {
        width: 100%;
    }
    .about-left-text .text { 
        margin: 0 auto;
    }
    .section-title, .service-page-title h1 {
        font-size: 50px;  
    } 
    .our-services-absolute-box {
        top: 40px;
    }
    .our-slider-box { 
        bottom: 20px;
    }
    .our-services-section {
        height: 650px;
    }
    .text-side { 
        max-width: 750px;
    }
    .project-bottom-img-info { 
        flex-direction: column;
        align-items: initial; 
    }
    .project-info{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        height: initial;
    }
    .project-info .text{
        padding-right: 0;
    }
    .project-img{
        width: 100%;
        height: 450px;
    }
    .project-img a{
        width: 100%;
    }
    .project-arrows{
        display: none;
    }
    .news-title h1 {
        font-size: 50px;
    }
    .news-mobile-slider{
        flex-wrap: nowrap;
        width: 120%;
        padding-right: 20%;
        gap: 24px;
        overflow-x: auto;
    }
    .news-component-item{
        width: 400px!important; 
        margin-top: 30px!important;
        height: 600px;
    }
    .news-component-item .news-img {
        width: 400px;
        height: 250px;
        margin-bottom: 10px;
    }
    .footer-box{
        flex-direction: column;
        gap: 50px;
    }
    .footer-transparent{
        display: none;
    }
    .footer-left .text {
        max-width: 600px;
    }
    .footer {
        padding-top: 40px;
    }
    .footer-right{
        width: 100%;
        gap: 40px;
    }
    .copyright-footer {
        margin-top: 60px;
    }
    /* About Page */
    .company-box {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .counter-relative-box, .count-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .count-box .count{
        position: initial!important;
        width: 200px;
        height: 200px;    
    }
    .absolute-circles{
        display: none;
    }
    .count-box .count h4 {
        font-size: 42px;
    }
    .o-service-arrow{
        display: none;
    }
    .about-slider-box{
        margin-top: 20px;
    }
    .breadcrumb-box{
        margin-bottom: 20px;
    }
    /* About Page */
    /* News Detail */
    .news-detail{
        padding-top: 0;
    }
    .n-right-text .time {
        margin-top: 10px;
    }
    .n-right-text .title {
        margin-top: 30px;
        padding-bottom: 40px; 
    }
    .n-right-text .text { 
        margin-top: 40px;
    }
    .n-right-text .title h1 {
        font-size: 28px;
        line-height: 36px;
    }
    /* News Detail */
    /* Search */
    .search-form form input{
        width: 80%;
    }
    /* Search */
    /* Services Page */
    .service-page-title{
        margin-bottom: 50px;
    }
    .service-list-item {
        width: calc((100% / 2) - 20px);
    }
    .service-list-item:after {
        width: 0!important;
    }
    .services-page-box-01{
        gap: 40px;
    }
    /* Services Page */
     /* Submenu Page */
     .submenu-item {
        width: calc((100% / 2) - 20px);
    }
    .submenu-item:after {
        width: 0!important;
    }
    .submenu-box{
        gap: 40px;
    }
    /* Submenu Page */
    /* Contact Page */
    .map-section { 
        height: 550px;
    }
    /* Contact Page */
    /* Project Page */
    .service-page-title .text-1 {
        margin-top: 0px;
    }
    .project-text-01{
        -webkit-line-clamp: 6;
    }
    .top-image {
        height: 400px;
    }
    /* Project Page */
    /* Project Detail Page */
    .similar-projects-title{
        margin-bottom: 0;
    }
    .project-detail-title {
        font-size: 24px;
        line-height: 30px;
    }
    .relative-section, .similar-projects {
        padding-bottom: 50px;
    }
    .status-o-c .category{
        font-size: 14px;
    }
    .status-o { 
        font-size: 14px; 
    }
    .similar-projects-box .project-list-item-01 {
        width: calc((100% / 2) - 20px);
    }
    /* Project Detail Page */

}

@media (max-width: 768px){
    .margin-lg{
        margin: 20px 0;
    }
    .margin-b-lg{
        margin-bottom: 20px;
    }
    .margin-t-lg{
        margin-top: 20px;
    }
    .padding-t-lg{
        padding-top: 20px;
    }
    .padding-b-lg{
        padding-bottom: 20px;
    }
    .padding-lg{
        padding: 20px 0;
    }
    .home-banner-item {
        height: 400px;
    }
    .home-banner {
        height: 400px;
    }
    .banner-title {
        font-size: 90px;
        left: -6px;
    }
    .about-left-text .text {
        font-size: 24px;
        line-height: 35px;
        max-width: 370px;
    }
    .section-title {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .service-page-title{
        margin-bottom: 30px;
    }
    .service-page-title h1{
        font-size: 40px;
    }
    .our-services-text-box {
        max-width: 460px;
    }
    .text-side {
        max-width: 500px;
        font-size: 18px;
        line-height: 24px;
        padding-left: 40px;
    }
    .project-container {
        padding-left: 40px;
    }
    .project-info { 
        padding-left: 40px;
        padding-right: 40px;
    }
    .news-title h1 {
        font-size: 40px;
    }
    .project-img { 
        height: 400px;
    }
    .project-img a{ 
        height: 400px;
    }
    /* About Page */
    .o-services-slider .slick-slide {
        margin: 0 10px;
    } 
    .o-services-slider .slick-list {
        margin: 0 -10px;
    }
    .about-slider-item a {
        width: 400px;
        height: 360px;
        margin-right: 24px;
    }
    .absolute-img-about {
        width: 275px;
        height: 270px;
    }
    .company-section{
        padding-top: 20px;
    }
    .counter-relative-box, .count-box { 
        flex-wrap: wrap;
        gap: 14px;
    }
    .count-box .count { 
        width: 150px;
        height: 150px;
    }
    .count-box .count h4 {
        font-size: 32px;
    }
    .count-box .count .text {
        font-size: 12px; 
    }
    .breadcrumb-box ul li a{
        font-size: 18px;
    }
    .breadcrumb-box {
        margin-bottom: 10px;
    }
    /* About Page */
    /* News Page */
    .news-page-item{
        margin-top: 40px!important;
    }
    .news-page-item{
        width: calc((100% / 2) - 7px);
        height: 630px;
    }
    /* News Page */
      /* Services Page */
   
    .service-list-item {
        width: calc((100% / 2) - 12px);
    }
   
    .services-page-box-01{
        gap: 24px;
    }
    .o-service-item .text{
        font-size: 14px;
        line-height: 20px;
        -webkit-line-clamp: 5;
    }
    /* Services Page */
    /* Submenu Page */
    .submenu-item {
        width: calc((100% / 2) - 12px);
    } 
    .submenu-box{
        gap: 24px;
    }
    .submenu-item a h2{
        font-size: 24px;
        padding: 24px;
    }
    /* Submenu Page */
    /* Contact Page */
    .contact-info-box-001 { 
        gap: 18px;
        margin-top: 40px;
    }
    /* Contact Page */
    /* Project Page */
    .project-filter-box { 
        flex-wrap: wrap; 
        justify-content: flex-start;
        gap: 15px;
    }
    .project-filter-box {
        margin-bottom: 60px;
    }
    .project-filter-box select{
        width: 240px;
    }
    .project-list-item-01:nth-child(2n - 1) {
        margin-top: 0;
    }
    .project-list-item-01 {
        width: 100%;
    }
    .top-image {
        height: 370px;
    }
    .project-title-01 {
        font-size: 18px;
        padding: 0 20px;
    }
    .status-o-c .category, .status-o, .status-project .time {
        font-size: 14px; 
    }
    .project-ul-01 {
        padding: 0 20px;
        gap: 9px;
    }
    .project-text-01 {
        padding: 0 20px;
        -webkit-line-clamp: 8;
    }
    /* Project Page */
    /* Project Detail Page */
    .relative-section, .similar-projects-box{
        padding-bottom: 40px;
    }
    .project-detail-title {
        font-size: 22px; 
        width: 100%;
    }
    .similar-projects-title{
        margin-bottom: 0;
    }
    .similar-projects-box .project-list-item-01 {
        width: 100%;
    }
    /* Project Detail Page */


}

@media (max-width: 575px){
    .margin-lg{
        margin: 20px 0;
    }
    .margin-b-lg{
        margin-bottom: 20px;
    }
    .margin-t-lg{
        margin-top: 20px;
    }
    .padding-t-lg{
        padding-top: 20px;
    }
    .padding-b-lg{
        padding-bottom: 20px;
    }
    .padding-lg{
        padding: 20px 0;
    }
    .home-banner-item {
        height: 500px;
    }
    .home-banner, .section-banner-0 {
        height: 500px;
    }
    .banner-title {
       display: none;
    }
    .container-big, .container{  
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px; 
    }
    .header-box .logo {
        height: 48px;
    }
    .logo a {
        display: block;
        width: 103px;
        height: 48px;
    }
    .header-box{
        height: 80px;
    }
    .header { 
        height: 80px;
    }
    .about-left-text .text {
        font-size: 18px;
        line-height: 26px;
        max-width: 270px;
    }
    .section-title {
        font-size: 28px;
        margin-bottom: 22px;
    }
    .service-page-title h1{
        font-size: 28px;
    } 
    .about-right-text .text {
        font-size: 14px; 
        line-height: 20px;
    }
    .our-services-text-box .text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .our-services-section {
        height: 640px;
    }
    .our-slider-box {
        bottom: 45px;
    }
    .our-services-slider { 
        margin-left: 20px;
    }
    .service-item{
        margin-right: 10px;
        height: 290px;
    }
    .service-item .text{
        font-size: 14px;
    }
    .project-container {
        padding-left: 24px;
    }
    .text-side {
        max-width: 95%;
        font-size: 16px;
        line-height: 22px;
        padding-left: 24px;
    }
    .project-bottom-img-info {
        margin-top: 70px;
    }
    .project-info {
        padding-left: 24px;
        padding-right: 24px;
    }
    .content-status{
        padding-bottom: 15px;
    }
    .content-status .status { 
        font-size: 10px;
        line-height: 16px; 
    }
    .content-status .category {
        font-size: 10px; 
        line-height: 16px; 
    }
    .project-info .time { 
        padding-right: 30px;
    }
    .project-info ul {
        gap: 7px;
    }
    .project-info ul li{
        font-size: 14px;
        line-height: 20px;
    }
    .project-img { 
        height: 340px;
    }
    .project-img a{ 
        height: 340px;
    }
    .news-title h1 {
        font-size: 28px;
    }
    .count-number {
        font-size: 22px; 
    }
    .news-component-item .news-img {
        width: 312px;
        height: 272px; 
    }
    .news-component-item {
        width: 312px !important;  
        height: 710px;
    }
    .news-mobile-slider{
        gap: 8px;
    }
    .news-text-box .title {
        font-size: 20px;
        line-height: 28px;
    }
    .news-text-box {
        padding: 22px;
        padding-top: 15px;
    }
    .footer-left {
        margin-top: 0;
    }
    .footer-img { 
        margin-left: 40px;
        width: 190px;
        height: 90px;
    }
    .footer-left .text {
        max-width: 100%;
        font-size: 14px; 
        line-height: 20px;  
        margin-bottom: 30px;
    }
    .footer-right{
        display: none;
    }
    .copy-box { 
        margin: 20px 0; 
        justify-content: space-between 
    }
    /* About Page */
    .about-slider-item a {
        width: 310px;
        height: 300px;
        margin-right: 10px;
    }
    .absolute-img-about{
        display: none;
    }
    /* About Page */
    /* News Page */
    .news-page-item{
        margin-top: 30px!important;
    }
    .news-page-item{
        width: 100%;
        height: initial;
    }
    /* News Page */
    /* News Detail */
    .n-right-text .title h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .n-right-text .title {
        margin-top: 25px;
        padding-bottom: 30px;
    }
    .n-right-text .text {
        margin-top: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .fancy-imgs {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        width: 120%;
        padding-right: 20%;
        overflow-x: auto;
    }
    .fancy-imgs a  {
        width: 312px!important;
        height: 272px!important;
    }
    .fancy-imgs a img{
        width: 312px!important;
    }
    .s-right-text{
        margin-top: 10px;
    }
    /* News Detail */
    /* Search */
    .search-result-box {
        margin-top: 50px;
    }
    .search-item { 
        padding: 16px;
    }
    .search-item h2 {
        font-size: 16px;
    }
    .search-item .text {
        font-size: 14px; 
        line-height: 20px; 
        -webkit-line-clamp: 5; 
    }
    .search-result-box{
        margin-bottom: 10px;
    }
    /* Search */
   /* Services Page */ 
   .service-list-item {
    width: 100%;
    padding: 24px;
    } 
    .services-page-box-01{
        gap: 24px;
    }
    .section-titl, .service-page-title h1{
        margin-bottom: 10px;
    }
    .o-service-item .text {
        font-size: 16px;
        line-height: 22px; 
    }
/* Services Page */
/* Submenu Page */
.submenu-item {
    width: 100%; 
}
.submenu-item:after {
    width: 0!important;
}
.submenu-box{
    gap: 24px;
}
.submenu-item a h2 {
    font-size: 22px; 
}
/* Submenu Page */ 
/* Contact Page */
.contact-info-box-001 {
    gap: 14px;
    margin-top: 30px;
}
.contact-box { 
    gap: 45px;
}
.input-box{
    width: 100%;
}
.textarea textarea {
    height: 200px;
}
.map-section {
    height: 400px;
}
.right-contact-info h1::after { 
    bottom: -25px; 
}
.soc-icons { 
    gap: 30px;
}
/* Contact Page */
/* Project Page */
.top-image {
    height: 312px;
}
.project-text-01 {
    font-size: 14px;
}
.project-ul-01 li {
    list-style-type: none;
    font-size: 14px;
}
.project-title-01 {
    font-size: 16px; 
}
.project-filter-box select {
    width: 90%;
    font-size: 14px;
}
.service-page-title .text-1 {
    font-size: 14px;
    line-height: 20px;
}
.project-filter-box {
    margin-bottom: 40px;
}
/* Project Page */
/* Project Detail  */
.project-detail-title {
    font-size: 20px;
    line-height: 28px;
}
.similar-projects-title{
    margin-bottom: 20px;
}
.relative-section{
    padding-bottom: 40px;
}
.similar-projects{
    padding-top: 40px; 
}
.similar-projects-box{
    padding-bottom: 20px;
}
/* Project Detail  */ 

}