html{
    opacity: 0;
  } 

  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 ,h5, h6{
    margin: 0;
}
.margin-lg{
    margin: 60px 0;
}
.margin-b-lg{
    margin-bottom: 60px;
}
.margin-t-lg{
    margin-top: 60px;
}
.padding-t-lg{
    padding-top: 60px;
}
.padding-b-lg{
    padding-bottom: 60px;
}
.padding-lg{
    padding: 60px 0;
}

.container-big{
    max-width: 1850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    max-width: 1575px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    width: 100%; 
    height: 96px; 
    position: fixed;
    z-index: 97;
    top: 0;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0)105%);
    backdrop-filter: blur(23px); 
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
}
.logo a{
    display: block;
    width: 135px;
    height: 96px;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.right-menu-box{
    display: flex; 
    align-items: center;
}
.nav-box{
    display: flex; 
    align-items: center; 
}
 
.nav-ul{
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: flex-start;
    gap: 24px;
}
.nav-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative; 
}
.nav-a{
    font-size: 16px;
    font-weight: bold;
    font-family: 'BPG Arial';
    padding: 12px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    line-height: 1.3;
    text-transform: capitalize;
}
 @media(min-width: 991px){
    .nav-li:hover .submenu{
        display: flex;
    }
 }
.nav-li:hover .nav-a,
.nav-li.active-menu .nav-a{
    color: #1C54A3;
} 
.submenu{ 
    position: absolute;
    top: 40px;
    padding-top: 28px;
    display: none;
    transition: 0.2s;
}
.submenu-ul{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 330px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(217, 217, 217, 0.19) 0px 10px 20px, rgba(217, 217, 217, 0.23) 0px 6px 6px;
    border-radius: 3px;
}
.submenu-ul:before{
    position: absolute;
    content: "";
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #fff;
    width: 57px;
    height: 17px;
}
.submenu-li{
    height: 48px;
    padding: 12px;
    border-bottom: 1px solid #D9D9D9;
    list-style: none;
    display: flex;
    align-items: center;
}
.submenu-a {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 400;
    color: #2A4770;
    font-family: 'BPG Arial';
    text-decoration: none;
    text-transform: capitalize;
}
.burger-lines{
    display: none;
}
.burger-menu{
    display: none;
}
.search-lang {
    margin-left: 60px;
    display: flex;
    align-items: center; 
}
.search{
    display: none;
    align-items: center;
    position: relative;
    transition: 0.3s; 
}
.search-active{
    display: flex;
}
.search form {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 227px;
    height: 32px;
    background: rgba(255, 255, 255, 0.4);
}
.search form input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 190px; 
    appearance: none;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    padding-left: 15px;
    padding-right: 40px;
    color: #2A4770;
    font-size: 14px;
    font-family: 'BPG Arial'; 
}
.search form input::placeholder{
    color: #2A4770;
    font-size: 14px;
    font-family: 'BPG Arial'; 
}
.search form button{
    position: absolute;
    width: 37px;
    height: 32px;
    outline: none;
    border: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
    color: #2A4770;
    font-family: 'BPG Arial';
    border-left: 4px solid #D9D9D9;
    right: 0;
    cursor: pointer;
}
 
.search-btn{
    width: 48px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 24px;
    cursor: pointer;
}

.lang{
    display: flex;
    align-items: center;
    flex-direction: column; 
    max-height: 36px;
    background: #fff;
    width: 62px;
    border-radius: 2px; 
    overflow: hidden;
    transition: 0.2s;
}
.lang-a{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    font-family: 'BPG Arial';
    line-height: 35px;
    text-decoration: none;
}
.lang:hover{
    max-height: 100px;
}
.active-header{
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(219, 219, 219, 0.4);
}
.active-header .nav-a{
    color: #000;
}
.active-header .search-btn span svg path{
    fill: #A6A3A3;
}
.active-header .search form{
    background: rgba(0, 0, 0, 0.1);
}

/* home banner */
.home-banner{
    width: 100%;
    height: 940px;
    position: relative;
}
.home-banner-item{
    height: 940px; 
    position: relative; 
}
.home-banner-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .banner-title {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: -13px;
    font-size: 200px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    font-family: 'BPG Glaho WEB Caps';
    line-height: 0.63;
}
.absolute-box{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-post{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
.home-post-item{
    width: 560px;
    border-radius: 8px;
    padding: 56px;
    padding-bottom: 32px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0)105%);
    backdrop-filter: blur(23px); 
}
.home-post-item .title{
    font-size: 36px;
    line-height: 1.2;
    color: #000;
    font-weight: bold;
    font-family: 'BPG Arial'; 
    margin-bottom: 16px;
}
.home-post-item .time{
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    font-family: 'BPG Arial'; 
    margin-bottom: 16px;
}
.home-post-item .client-text{
    font-size: 22px;
    line-height: 1.2;
    color: #000;
    font-weight: bold;
    font-family: 'BPG Arial'; 
    margin-bottom: 24px;
}
.home-post-item .text{
    font-size: 16px; 
    line-height: 24px;
    color: #000;
    font-weight: 400;
    font-family: 'BPG Arial'; 
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.home-item-post-arrow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-item-post-arrow a span svg path{
    transition: 0.2s;
}
.home-item-post-arrow a:hover span svg path{
    transform: translateX(8px);
    stroke: #000;
} 
/* home banner */

/* About Section */
.about-section{
    width: 100%;
    overflow-x: hidden;
}
.about-component-box{
    display: flex; 
}
.about-left-text{
    width: 49%;
    padding-right: 40px;  
    padding-top: 112px;
}
.about-left-text .text{
    font-size: 36px;
    font-family: 'BPG Arial';
    font-weight: 400;
    color: #28A31C;
    line-height: 44px;
    max-width: 540px; 
}
.about-right-text{
    width: 51%;
}
 .section-title{
    font-size: 72px;
    font-family: 'BPG Arial';
    font-weight: bold;
    margin-bottom: 35px;
    color: #000;
    line-height: 1.2;
    text-transform: capitalize;
}
.about-right-text .text{
    font-size: 16px;
    font-family: 'BPG Arial'; 
    font-weight: 400;
    color: #000;
    line-height: 24px;
}
/* About Section */
/* Services section */
.our-services-section{
    width: 100%;
    height: 982px;
    position: relative;
    overflow: hidden;
}
.our-services-section .background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 408px;
    left: 0;
    width: 100%;
}
.slider-arrows .arr{
    width: 124px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1)100%);
    backdrop-filter: blur(52px); 
    transition: 0.2s;
    cursor: pointer;
}
.slider-arrows .arr:hover span svg path{
    fill: #000;
    stroke: #000;
}
.next-arrow{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
}
.prev-arrow{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}
.prev-arrow span{
    transform: rotate(180deg);
}
.our-services-absolute-box{
    width: 100%;
    position: absolute;
    top: 173px; 
}
.our-services-text-box{
    max-width: 558px;
}
.our-services-text-box .text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'BPG Arial'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    color: #000;
    letter-spacing: 0.5px;
}
.our-slider-box{
    width: 100%;
    position: absolute;
    bottom: 45px;
}
.our-services-slider{
    width: 110%;
    margin-left: 50px; 
}
.service-item{
    width: 312px!important;
    height: 312px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0)100%);
    backdrop-filter: blur(22px); 
    padding: 32px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    border-radius: 8px;
}
.service-item img{
    max-width: 65px;
    max-height: 60px; 
}
.service-item:hover img{
    filter: invert(59%) sepia(20%) saturate(2969%) hue-rotate(72deg) brightness(81%) contrast(88%);
}
.service-item h3{
    font-size: 16px;
    line-height: 24px;
    color: #282828;
    font-weight: 700;
    font-family: 'BPG Arial'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    margin-top: 16px;
}
.service-item .text{
    color: #282828;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 400;
    font-family: 'BPG Arial'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden; 
    margin-top: 24px;
}
/* Services section */

/* News section  */
.news-section{
    width: 100%;
    overflow: hidden;
}
.news-title{
    max-width: 600px;
    text-align: center;
    margin: auto;   
}
.news-title h1{
    font-size: 72px;
    font-family: 'BPG Arial';
    font-weight: bold; 
    color: #000;
    line-height: 1.2;
}
.news-box{
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px; 
}
.news-item{
    width: calc((100% / 4) - 18px);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 880px;
}
.count-number{
    font-size: 36px;
    font-weight: 700;
    color: #A6A3A3;
    font-family: 'BPG Arial'; 
    margin-bottom: 40px;
}
.news-img{
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-text-box{
    padding: 32px;
    padding-top: 24px;
}
.news-text-box .title{
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
    font-family: 'BPG Arial'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;  
    color: #000;
    letter-spacing: 1px;
}
.news-text-box .text{
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 400;
    font-family: 'BPG Arial'; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;  
    color: #000;
    letter-spacing: 0.5px;
}
.news-text-box .news-time{
    margin-top: 32px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'BPG Arial'; 
    color: #1C54A3;
}
  

.news-component-item:nth-child(4n + 1) {
    margin-top: 0px;
}
 
.news-component-item:nth-child(4n + 2) {
    margin-top: 62px;
}
 
.news-component-item:nth-child(4n + 3) {
    margin-top: 122px;
}
 
.news-component-item:nth-child(4n + 4) {
    margin-top: 62px;
}

/* News section  */

/* Project section */
.project-section{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.project-container{
    width: 1530px;
    padding-left: 495px;
}
.project-container h1{
    line-height: 1.1;
}

.project-slider-item{
    width: 1530px!important;
}
.text-side{
    font-size: 28px;
    font-family: 'BPG Arial'; 
    line-height: 40px;
    max-width: 990px;
    color: #000;
    font-weight: 700; 
    padding-left: 120px; 
}
.project-bottom-img-info{
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.project-img{
    width: 700px;
    height: 668px;
    position: relative;
}
.project-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}
.project-img a{
    display: block;
    width: 700px;
    height: 668px;
}
.project-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-info{
    width: calc(100% - 700px);
    height: 668px;
    padding-left: 120px; 
    padding-bottom: 80px; 
    transition: 0.2s;
}
.content-status{
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 2px solid #D9D9D9;
    margin-top: -35px;
}
.content-status .status{
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 18px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'BPG Arial';  
}
.content-status .ongoing{
    color: #28A31C;
    border: 2px solid #28A31C;
}
.content-status .completed{
    color: #1C54A3;
    border: 2px solid #1C54A3;
} 
.content-status .category{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    text-transform: uppercase;
    font-family: 'BPG Arial';  
    color: #A6A3A3;
}
.content-status .category span{
    color: #000;
}
.project-info .time{
    margin-top: 60px;
    font-size: 16px;
    font-weight: 700;
    color: #28A31C;
    line-height: 24px; 
    font-family: 'BPG Arial';   
    padding-right: 60px
}
.project-info ul{
    margin-top: 32px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 11px; 
    padding-right: 60px
}
.project-info ul li {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px; 
    font-family: 'BPG Arial';  
    color: #000; 
    list-style: none;
}
.project-info ul li span{
    font-weight: 400;
}
.project-info .text{
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 13;
    overflow: hidden; 
    font-family: 'BPG Arial';   
    color: #000; 
    padding-right: 80px;
}
.project-continue-btn{
    font-size: 16px; 
    line-height: 24px;
    color: #fff;
    background: #28A31C;
    font-family: 'BPG Arial';  
    padding: 14px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
}
.continue-btn{
    margin-top: 80px;
}

.project-arrows{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 32px; 
    z-index: 8;
    bottom: 50px;
    right: 24.5%;
}
.project-arrows .gen-arr{
    width: 124px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 0%, #9ADFAC 105%); 
    transition: 0.2s;
} 
.project-arrows .next span{
    transform: rotate(180deg);
}
.project-arrows  .gen-arr:hover{
    background: linear-gradient(to bottom right, #93DCA6 0%, #29A449 105%); 
}
.project-arrows  .gen-arr:hover span svg path{
    fill: #fff;
    stroke: #fff;
}
.project-slider .slick-list{
    padding-left: 375px;
}
/* .project-slider .slick-active .project-info{
    opacity: 1;
}
.project-slider .slick-active .text-side{
    opacity: 1;
} */

/* Project section */



/* footer */
    .footer{
        padding-top: 120px;
        width: 100%;
        background: #2A4770;
        position: relative;
        overflow: hidden;
    }
    .footer-transparent {
        position: absolute;
        top: 52px;
        left: -5px;
        pointer-events: none;
        height: 727px;
        width: 755px;
        z-index: 0;
    }
    .footer-box{
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer-left{
        margin-top: 30px;
    }
    .copyright-footer{
        margin-top: 180px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .copy-box{
        width: 100%;
        margin: 35px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
    }
    .copy-box span{
        font-size: 14px;
        font-family: 'BPG Arial'; 
        font-weight: 400;
        color: #ffffff;
    }
    .footer-img{ 
        margin-bottom: 56px;
        width: 261px;
        height: 124px;
        display: block;
        margin-left: 90px;
    }
    .footer-img img{
        width: 100%;
        height: 100%;
    }
    .footer-left .text{
        max-width: 475px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-family: 'BPG Arial'; 
        margin-bottom: 20px;
    }
    .soc-icons{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .footer-right{
        display: flex;
        flex-wrap: wrap;
        width: 35%; 
        gap: 100px;
    }
    .info-contact-footer, .bottom-links-box{
        width: 100%;
        display: flex; 
        justify-content: space-between;
    }
    .inf-con-footer{
        width: 49%;
    }
    .inf-con-footer h2{
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        color: #fff;
        font-family: 'BPG Arial';  
        margin-bottom: 28px;
        text-transform: capitalize;
    }
    .inf-con-footer ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .inf-con-footer ul li{
        list-style: none; 
    }
    .inf-con-footer ul li a{
        font-size: 14px;
        color: #fff;
        line-height: 20px;
        font-family: 'BPG Arial';   
        text-decoration: none;
        text-transform: capitalize;
    }
    .inf-con-footer ul li a:hover{
        text-decoration: underline;
    }
/* footer */


/* About Page */
    .section-banner-0{
        width: 100%;
        height: 584px;
        position: relative;
    }
    .section-banner-0 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .breadcrumb {
        width: 100%;
        margin-top: 26px;
    }
    .breadcrumb-box{
        width: 100%;
        position: relative;
        z-index: 9;
    }
    .breadcrumb-box ul{
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0;
    }
    .breadcrumb-box ul li{
        list-style: none;
        position: relative;
        width: fit-content;
    }
    .breadcrumb-box ul li a{
        font-family: 'BPG Arial';   
        text-decoration: none;
        text-transform: capitalize;
        color: #000;
        font-size: 22px;
        font-weight: 700; 
    }
    .breadcrumb-box ul li.active a{
        color: #28A31C;
    }
    .breadcrumb-box ul li:after{
        position: absolute;
        content: "";
        top: 3%;
        height: 90%;
        width: 3px;
        right: -17px;
        background: #000;
    }
    .breadcrumb-box ul li:last-child::after{
        width: 0;
    }
    .company-section{
        width: 100%;
        padding-top: 40px; 
    }
    .company-box{
        display: flex;
        justify-content: space-between;
    }
    .left-company-side{
        width: 53%;
        padding-right: 20px;
    }
    .left-company-side .text{
        font-size: 16px;
        font-weight: 400;
        color: #000;
        font-family: 'BPG Arial'; 
        line-height: 24px;
        letter-spacing: 0.5px; 
    }
    .right-company-side{
        width: 45%;
        display: flex;
        justify-content: flex-end; 
    }
    .counter-relative-box{
        position: relative;
    }
    .count-box .count{
        position: absolute;
        width: 223px;
        height: 223px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    .count-box .count h4{
        font-size: 56px;
        color: #fff;
        font-weight: 700;
        font-family: 'BPG Arial';  
        line-height: 1.15;
    }
    .count-box .count .text{
        font-size: 16px;
        font-weight: 700;
        color: #fff; 
        font-family: 'BPG Arial'; 
    }
    .count-box .count:first-child { 
        top: 80px;
        left: -30px;
        background: #28A31C;
    }
    .count-box .count:nth-child(2) { 
        top: -50px;
        left: 165px;
        background: #2A4770;
    }
    .count-box .count:last-child { 
        bottom: 45px;
        left: 250px;
        background: #1C54A3;
    }
    .about-slider-box{
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .absolute-img-about{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 623px;
        height: 498px;
        z-index: 5;
        pointer-events: none;
    }
    .absolute-img-about img{
        width: 100%;
        height: 100%;
    }
    .about-slider{
        width: 120%;  
    }
  
    .about-slider-item a{
        display: block;
        width: 596px;
        height: 563px;
        margin-right: 32px;
    }
    .about-slider-item a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    .o-services-slider-box{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .o-servive-title{
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
     .o-service-item{
        /* width: 312px!important; */
        height: 312px;  
        padding: 32px; 
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-decoration: none; 
        border: 1px solid #28A31C;
        transition: 0.2s;
    }
    .o-service-arrow{
        position: absolute;
        bottom: 150px;
        left: 0; 
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }
    .o-service-arrow .arroo{
        display: flex;
        align-items: center;
        justify-content: center; 
        background: linear-gradient(to bottom right, #93DCA6 0%, #29A449 105%);
        width: 124px;
        height: 80px; 
        cursor: pointer;
        position: relative;
        z-index: 9;
    }
    .o-service-arrow .arroo span{
        height: 30px;
    }
    .o-service-arrow .next{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; 
    }
    .o-service-arrow .prev{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px; 
    }
    .o-service-arrow .prev span{
        transform: rotate(180deg);
    }
    .o-service-arrow .slick-disabled span svg path{
        stroke: #000; 
    }
    .o-service-arrow .slick-disabled{
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 0%, #29A449 120%);
    }
    .o-icon {
        width: fit-content;
        margin: 0 auto;
    }
    .o-icon img{
        max-width: 65px;
        max-height: 60px; 
    } 
    .o-service-item:hover .o-icon img{
        filter: invert(59%) sepia(20%) saturate(2969%) hue-rotate(72deg) brightness(81%) contrast(88%);
    }
    .o-service-item:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .o-service-item h3{
        font-size: 16px;
        line-height: 24px;
        color: #282828;
        font-weight: 700;
        font-family: 'BPG Arial'; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; 
        margin-top: 16px;
        transition: 0.2s;
    }
    .o-service-item .text{
        color: #282828;
        font-size: 16px;
        line-height: 24px; 
        font-weight: 400;
        font-family: 'BPG Arial'; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden; 
        margin-top: 24px;
        transition: 0.2s;
    } 
    .o-services-slider .slick-slide {
        margin: 0 40px;
    } 
    .o-services-slider .slick-list {
        margin: 0 -40px;
    }
/* About Page */
/* News Page */
.st-btn{
    display: inline-block!important;
}
.news-page{
    display: -webkit-box;
}
.news-page-item:nth-child(4n + 1) {
    margin-top: 60px;
}
 
.news-page-item:nth-child(4n + 2) {
    margin-top: 120px;
}
 
.news-page-item:nth-child(4n + 3) {
    margin-top: 150px;
}
 
.news-page-item:nth-child(4n + 4) {
    margin-top: 120px;
}
    .pagination{
        width: 100%; 
    }
    .paginate-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .paginate-btn{
        text-decoration: none;
        color: #1B2128; 
        font-size: 12px;
        font-family: 'BPG Arial'; 
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 31px;
    }
    .next-pagintate span{
        transform: rotate(180deg);
    }
    .paginate-box ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .paginate-box ul li{
        width: 28px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .paginate-box ul li.active{
        background: #F9FAFC;
        border-radius: 6px;
        border: 1px solid #E4E4E4;
    }
    .paginate-box ul li a{
        text-decoration: none;
        color: #1B2128; 
        font-size: 12px;
        font-family: 'BPG Arial'; 
        font-weight: 400;
    }
/* News Page */
/* News Detail Page */
.news-detail{
    overflow: hidden;
}
    .n-detail-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 80px; 
    }
    .n-left-side{
        width: calc(46% - 20px);
    }
    .detail-general-fancy-gallery{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .fancy-imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .fancy-imgs a{
        width: calc((100% / 2) - 12px);
        height: 291px;
    }
    .fancy-imgs a:first-child{
        width: 100%;
        height: 599px;
    }
    .fancy-imgs a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .share-box{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .share-title{
        font-size: 12px;
        font-weight: 600;
        font-family: 'BPG Arial'; 
        font-style: italic;
        color: #000;
    }
    .n-right-text{
        width: calc((54% - 20px));
    }
    .n-right-text .time{
        font-size: 16px;
        font-weight: 700;
        font-family: 'BPG Arial'; 
        line-height: 24px;
        color: #28A31C;
        margin-top: 50px;
    }
    .n-right-text .title{
        margin-top: 35px;
        padding-bottom: 50px;
        position: relative;
    }
    .n-right-text .title::before{
        position: absolute;
        content: "";
        width: 200%;
        bottom: 0;
        height: 2px;
        left: 0;
        background: #D9D9D9;
    }
    .n-right-text .title h1{
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        color: #000;
        font-family: 'BPG Arial';  
        letter-spacing: 0.25px;
    }
    .n-right-text .text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #000;
        font-family: 'BPG Arial';  
        letter-spacing: 0.5px;
        margin-top: 56px;
    }
    #st-1{
        z-index: 8!important;
    }
/* News Detail Page */
/* Services Page */
.service-page-title{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.service-page-title h1{
    font-size: 72px;
    font-family: 'BPG Arial';
    font-weight: bold; 
    color: #000;
    line-height: 1.2;
    text-transform: capitalize;
    max-width: 800px;
}
.service-page-title .text-1{
    font-size: 16px;
    font-family: 'BPG Arial'; 
    font-weight: 400;
    color: #000;
    line-height: 24px;
    max-width: 800px;
}
.services-page-box-01{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    gap: 60px 90px;
}
.service-list-item{
    width: calc((100% / 4) - 68px);
    height: 312px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: initial;
    text-decoration: none;
    border: 1px solid #28A31C;
    transition: 0.2s;
    position: relative;
}
.service-list-item::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    top: 5%;
    right: -46px;
    background: #A6A3A3;
}
.service-list-item:last-child:after,
.service-list-item:nth-child(4n):after{
    width: 0;
}
.service-list-item:hover{
    background-color: #28A31C;
}
.service-list-item:hover h3,
.service-list-item:hover .text{
    color: #fff;
}
.service-list-item:hover .o-icon img{
    filter: invert(100%) sepia(2%) saturate(7466%) hue-rotate(305deg) brightness(108%) contrast(106%);
}
 
.s-right-text .icon img{
    max-width: 70px;
    max-height: 65px;
}
/* Services Page */
/* Submenu */
.submenu-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.submenu-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 90px;
}
.submenu-item{
    width: calc((100% / 4) - 68px);
    height: 312px;
    position: relative;
    transition: 0.2s;
}
 
.submenu-item::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    top: 5%;
    right: -46px;
    background: #A6A3A3;
}
.submenu-item:last-child:after,
.submenu-item:nth-child(4n):after{
    width: 0;
}
.submenu-item a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
    text-decoration: none;
}
.submenu-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.submenu-item a img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.submenu-item a h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #fff;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    font-family: 'BPG Arial'; 
    z-index: 5; 
    padding: 10px;
    width: 100%;
    text-align: center;
}
/* Submenu */
/* Contact */
.contact-page{
    width: 100%;
    overflow: hidden;
}
.contact-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-contact-form {
    width: 44%;
    margin-top: 90px;
}
.left-contact-form form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.input-box{
    width: calc((100% / 2) - 12px);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.input-box label, .textarea label{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #262626;
    font-family: 'BPG Arial';  
}
.input-box input, .textarea textarea{ 
    font-size: 16px;
    line-height: 24px; 
    color: #262626;
    font-family: 'BPG Arial';   
    appearance: none;
    border: none;
    outline: none;
    padding: 0 15px;
    height: 48px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    resize: none;
}
.input-box input::placeholder, .textarea::placeholder{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px; 
    color: #A6A3A3;
    font-family: 'BPG Arial'; 
    padding-left: 12px; 
}
.textarea{
    width: 100%; 
}
.textarea textarea{
    height: 265px;
}
.send-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.send{
    border: none;
    background-color: #28A31C;
    appearance: none;
    font-size: 16px;
    font-weight: 800;
    border-radius: 4px;
    padding: 15px 24px;
    text-transform: capitalize;
    font-family: 'BPG Arial'; 
    color: #fff; 
    cursor: pointer;
}
.right-contact-info{
    width: 52%;
    display: flex;
    flex-direction: column;
}
.right-contact-info h1{
    position: relative;
}
.right-contact-info h1::after{
    position: absolute;
    content: " ";
    bottom: -35px;
    left: 0;
    width: 200%;
    height: 2px;
    background: #D9D9D9;
}
 .contact-info-box-001{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 48px;
 }
.contact-i{
    font-size: 16px;
    font-weight: 700;
    font-family: 'BPG Arial'; 
    color: #000;
    line-height: 24px; 
}
.contact-i a{
    font-weight: 400;
    text-decoration: none;
    color: #000;
}
.contact-i a:hover{
    text-decoration: underline;
}
.soc-con-info{
    margin-top: 32px;
} 
.map-section{
    width: 100%;
    height: 982px;
}
.map-section iframe{
    width: 100%;
    height: 100%;
}
/* Contact */

/* Search Page */
    .search-title{
        width: 100%;
        text-align: center;
    }
    .search-form form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .search-form form input{
        height: 48px;
        border: none;
        outline: none;
        appearance: none;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
        padding-left: 12px;
        font-size: 16px;
        color: #262626;
        font-family: 'BPG Arial'; 
        font-weight: 400;
        line-height: 24px;
        width: 830px;
    }
    .search-form form input::placeholder{ 
        font-size: 16px;
        color: #262626;
        font-family: 'BPG Arial'; 
        font-weight: 400;
        line-height: 24px;
    }
    .search-form form button{
        height: 48px;
        border: none;
        outline: none;
        appearance: none;
        font-size: 16px; 
        font-family: 'BPG Arial'; 
        font-weight: 800;
        line-height: 24px;
        color: #fff;
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #28A31C;
    }
    .search-result-box{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 120px;
    }
    .search-item{
        display: flex;
        flex-direction: column;
        padding: 32px;
        border-radius: 4px;
        border: 1px solid #A6A3A3;
        gap: 8px;
        transition: 0.2s;
        text-decoration: none;
    }
    .search-item:hover{
        border: 1px solid #28A31C;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .search-item h2{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.15px;
        line-height: 24px;
        font-family: 'BPG Arial';  
        color: #282828;
    }
    .search-item .text{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
        font-family: 'BPG Arial';  
        color: #282828;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
/* Search Page */

/* Project Page */
    .project-page-title{
        margin-bottom: 60px;
    }
    .project-filter-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        margin-bottom: 140px;
    }
    .project-filter-box select{ 
        outline: none;
        padding: 10px; 
        border: 1px solid #D9D9D9;    
        background-color: #fff;  
        width: 269px;  
        font-size: 16px;  
        cursor: pointer; 
        height: 48px;
        font-family: 'BPG Arial';
        color: #262626;  
        border-radius: 2px; 
      } 
      .project-filter-box select option{ 
        font-family: 'BPG Arial';
        color: #262626;   
      }
      .project-filter-box button{
        appearance: none;
        outline: none;
        border: none;
        background: #28A31C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        height: 48px;
        padding: 0 24px;
        text-transform: capitalize;
        color: #fff;
        font-family: 'BPG Arial';
        font-weight: 800;
        cursor: pointer;
        font-size: 18px;
      }
    .project-list-box{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        gap: 70px;
    }
    .project-list-box::after{
        position: absolute;
        content:"";
        background-image:  url('../img/lines-svg.svg');
        width: 90px;
        top: -60px;
        height: 103%;
        left: 50%;
        transform: translateX(-50%);
    }
    .image-lines-project-between img{
        width: 100%;
        height: 100%;
    }
    .project-list-item-01{
        width: calc((100% / 2) - 117px);
        display: flex;
        flex-direction: column;
        gap: 27px;
        text-decoration: none; 
    }
    .project-list-item-01:nth-child(2n - 1){
        margin-top: -60px;
    } 
    .top-image{
        width: 100%;
        height: 618px;
    }
    .top-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bottom-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-left: 1px solid #A6A3A3;
    }
    .status-project{
        display: flex;  
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
    }
    .status-o-c{
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .status-o{
        padding: 4px 15px;
        text-transform: uppercase;
        color: #fff;
        font-family: 'BPG Arial';
        font-size: 16px;
        font-weight: bold;
    }
    .ongoing-01{
        background: #28A31C;
    }
    .completed-01{
        background: #1C54A3;
    }
    .status-o-c .category{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'BPG Arial';
        color: #A6A3A3;
    }
    .status-o-c .category span{
        color: #000;
    }
    .status-project .time{
        font-size: 16px;
        font-weight: bold; 
        font-family: 'BPG Arial';
        line-height: 24px;
        color: #28A31C;
    }
    .project-title-01{
        font-size: 22px;
        font-weight: 700; 
        font-family: 'BPG Arial';
        line-height: 28px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        letter-spacing: 0.2px;
        color: #000; 
        padding: 0 58px;
    }
    .project-ul-01{
        padding: 0 56px; 
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .project-ul-01 li{
        list-style-type: none;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        text-transform: capitalize;
        font-family: 'BPG Arial';
    }
    .project-ul-01 li span{
        font-weight: 400;
    }
    .project-text-01{ 
        font-size: 16px;
        font-weight: 400;
        color: #000; 
        font-family: 'BPG Arial';
        line-height: 24px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        padding: 0 56px;
    }
/* Project Page */
/* Project Detail */
.relative-section{
    position: relative;
    overflow: hidden;
}
.project-detail-absolute-ilustrator{
    position: absolute;
    left: -70px;
    top: 20px;
    z-index: -1;
}
    .project-detail-box-001{
        flex-direction: row-reverse;
        gap: 40;
    }
    .project-detail-title{
        font-size: 28px;
        font-weight: 700;
        color: #000; 
        font-family: 'BPG Arial';
        line-height: 43px;
        width: 1170px;
        margin-bottom: 80px;
        padding-left: 270px;
    }
    .project-detail-text-001{
        padding-left: 270px;
    }
    .detail-status-project .status-o-c{
        position: relative;
        margin-top: -25px;
    }
    .detail-status-project .status-o-c::after{
        position: absolute;
        content: "";
        bottom: 0;
        width: 110%;
        height: 1px;
        left: 0;
        background: #D9D9D9;
    }
    .project-detail-text-001 .bottom-text{
        border-left: 0;
    }
    .project-detail-text-001 .bottom-text .detail-status-project{
        flex-direction: column;
    }
    .project-detail-text-001 .bottom-text  .project-ul-01,
    .project-detail-text-001 .bottom-text  .project-text-01 {
        padding: 0;
    }
    .similar-projects {
        background-color: #EFF0F1;
        position: relative;
        overflow: hidden;
    }
    .similar-projects-title{
        margin-bottom: 140px;
    }
    .similar-projects-box{
        position: relative;
        z-index: 3;
    }
    .similar-projects-box::after{
        display: none;
    }
    .similar-projects::after {
        z-index: 2;
        position: absolute;
        content: "";
        background-image: url(../img/similar-project-svg.svg);
        width: 904px;
        bottom: -3px;
        height: 985px;
        left: -102px;
        background-repeat: no-repeat;
    }
/* Project Detail */








  
html:lang(ka) .font-mtavruli{
    font-family: 'BPG Nino Mtavruli'
}
html:lang(ka) .font-arial{
    font-family: 'BPG Arial';
}
html:lang(ka) .font-ghalo{
    font-family: 'BPG Glaho WEB Caps';
}


